<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background: linear-gradient(91.39deg, #105EEB 0%, #133579 100%);">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="/">
        <img src="/loyalty_document/assets/images/logo.png" class="img-fluid" alt="Bridg" width="77">      
    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                {% for item in site.data.navbar %}
                <a class="nav-item nav-link text-white text-topmenu-navbar" href="{{item.link}}">{{ item.name }}</a> {% endfor %}
            </div>
        </div>
    </div>
</nav>