---
---
@import 'bootstrap/bootstrap';

.text-topmenu-navbar{
  font-family: Proxima Nova;
  font-style: normal;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */


  color: #FFFFFF;
}